<!-- <div class="row">
    <div class=col-md-12>
      <div style="height: 400px; width: 400px" [ngStyle]="{'background-image':'url('+ image.url +')'}">
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <span id="caption">
          {{image.caption}}
        </span>
      </div>
  </div> -->
<div class="wrapper" [class.unavailable]='!product.available'>
    <div class="info">
        <div class="img-wrapper">
            <img class="img" [src]='product.url'>
            <div class="img-placeholder"></div>
        </div>
        <h5 class="title">{{product.displayValue.name}}</h5>
        <div class="row">
            <div class="product-info col-sm-12">{{product.displayValue.base}}</div>
            <div class="product-info col-sm-12">{{product.displayValue.type}}</div>
        </div>
        <!-- <p class="price">Rs <span>{{product.price}}</span>/-</p> -->
        <div class="details">
            <div class="available">
                <hr>
                <div class="bottom-row row">
                    <div class="col-sm-8 view-details-wrapper">
                        <button type="button" class="view">{{product.price | currency:'INR':'symbol-narrow':'3.0-0'}}</button>
                    </div>
                    <div class="col-sm-4 add-cart-wrapper">
                        <button type="button" class="cart"><img src="assets/img/add.svg" alt="" /></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>