<div class="filter-panel">
  <div class="filter-component" *ngFor="let filterConfig of filteringOptions">

    <h5>{{filterConfig.filterBy | uppercase}}</h5>

    <div [ngSwitch]="filterConfig?.component">
      <app-slider *ngSwitchCase="'slider'" [componentConfig]="filterConfig.componentConfig" [filterBy]="filterConfig.filterBy"
        (onFilterChange)='eventMap[filterConfig.type]($event)'></app-slider>

      <app-toggle-button *ngSwitchCase="'toggle-button'" [itemList]="filterConfig.itemList" [componentConfig]="filterConfig.componentConfig"
        [filterBy]="filterConfig.filterBy" (onFilterChange)='eventMap[filterConfig.type]($event)'></app-toggle-button>

      <app-select-box *ngSwitchCase="'select-box'" [itemList]="filterConfig.itemList" [componentConfig]="filterConfig.componentConfig"
        [filterBy]="filterConfig.filterBy" (onFilterChange)='eventMap[filterConfig.type]($event)'></app-select-box>

    </div>
  </div>
</div>