<!-- <div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <app-filter></app-filter> -->
    <!-- <app-gallery></app-gallery> -->
    <!-- <router-outlet></router-outlet> -->
  <!-- </div>
</div> -->

<!-- <alert type="info">Gallery works!!</alert> -->
<app-navbar></app-navbar>

<!-- <app-item-detail></app-item-detail> -->
<!--router-outlet></router-outlet-->

<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-3 col-lg-3 col-sm-12 ">
        <div class="filters-wrapper">
          <!--  <url-form (onURLChange)='onURLChange($event)'></url-form>
          <cart></cart> -->
          <!-- <filters #filtersComponent [categories]='originalData.categories' [customFilters]='customFilters' [priceFilters]='priceFilters' (onFilterChange)='onFilterChange($event)'></filters> -->

          <app-filter [filteringOptions]='originalData.filteringOptions' (applyFilters)='applyFilters($event)'></app-filter>
        </div>
      </div>
      <div class="col-9 col-lg-9 col-sm-12">
        <div class="row">
          <div class="col-8">
            <div class="sort-filters-wrapper">
              <!-- <sort-filters [filters]='sortFilters' (onSortChange)='sortProducts($event)'></sort-filters> -->
            </div>
          </div>
          <div class="col-4">
            <!-- <search-bar  #searchComponent (onSearchChange)='onSearchChange($event)'></search-bar> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- <showcase [products]='products'></showcase> -->
            <app-gallery [products]='filteredProducts'></app-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>